<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Game</th>
        <th scope="col">Release Date</th>
        <th scope="col">Total Rating Count</th>
    </tr>
    </thead>

    <tbody>
        <% @games.each do |games| %>
            <tr>
                <td><%= @games.fourth[1][0]['name'] %></td>
                <td><%= @games.fourth[1][0]['released']%></td>
                <td><%= @games.fourth[1][0]['rating']%></td>
            <%end%>
        </tbody>
    </table>

    <br> 
     
</div>