<h1>Index Games</h1>

<br> 

<%= render(:partial => 'games') || 'No entries found.'%>

<h1>Index Genres</h1>

<br>

<%= render(:partial => 'genres') || 'No entries found.'%>

<br>

<h1>Index Developers</h1>

<br>

<%= render(:partial => 'developers') || 'No entries found.'%>

<br>

<h1>Index Publishers</h1>

<%= render(:partial => 'publishers') || 'No entries found.'%>